<h1>Search for a movie</h1>

<form action="/movies" method="get">
  <input type="text" name="search">
  <button>Search for a movie</button>
</form><br>

<% if params[:search] %>
  <h4>Displaying top 10 results:</h4><br>
  <% @search_results[0..10].each do |movie| %>
  <a href="/movies/<%= movie.id  %>"><%= movie.title %></a><br>
  <% end %>
<% end %>