<h1>This is My Movie Index and Will search for movies here</h1>


<form action="/movies" method="get">
  <input type="text" name="<%@movie%>" placeholder="Enter A Movie Here">
  <button>Search</button>
</form>

<%= @movie_search.each do |movie| %>
  <%= movie.title %>
  <%= movie.id %>
<% end %>